
:root{
    --main-color:#d3ad7f;
    --blacl:black;
    --bg:black;
    --border: 1rem solid rgba(255,255,255,.3);


}

*{
    font-family: 'roboto' , sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    width: 8rem;

}